<div class="card m-2">
    <div class="card-body">
        <h5 class="card-title">{{ title }}</h5>
        <div class="card-subtitle d-sm-flex">
            <div class="mr-auto">
                <h6>{{ author }}</h6>
            </div>
            <div>
                {{ date }}
            </div>
        </div>
        <p class="card-text">{{ content }}</p>
        <a class="card-link" (click)='runEditPost()' >edytuj</a>
        <a class="card-link" (click)='runDeletePost()'>usuń</a>
    </div>
</div>