<div class="card m-2">
    <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <div class="card-subtitle d-sm-flex">
            <div class="mr-auto">
                <h6>{{ post.userName }}</h6>
            </div>
            <div>
                {{ post.date }}
            </div>
        </div>
        <p class="card-text">{{ post.content }}</p>
        <a class="card-link" [routerLink]="['/editPost', post.id]" >edytuj</a>
        <a class="card-link" (click)='runDeletePost()'>usuń</a>
        <a class="card-link" (click)='runMsgSuccess()'>msg success</a>
        <a class="card-link" (click)='runMsgError()'>msg error</a>
    </div>
</div>