<div class="container">
    <div class="row">
        <app-post-add class="col"></app-post-add>
    </div>
    <div class="posts row">
        <div class="col">
            <app-post *ngFor="let post of page.content" 
                [post]='post'
                (whenDelete)='getPage()'>
            </app-post>
        </div>
    </div>
    <div class="row">
        <app-pagination class="col-ms-4 mx-auto"
            [resourcesPage]='page'
            (actionParams)='getPage($event)'>
        </app-pagination>
    </div>
    <div class="row">
        <span class="col mb-4">Liczba elementów: {{pageElements}}</span>
    </div>
</div>