<div class="container">
    <p>page: {{ page }}, page size: {{ pageSize }}, totalPages: {{ totalPages }}</p>
    <div class="posts">
        <app-post *ngFor="let post of postsList" 
            [title]='post.title'
            [author]='post.userName'
            [date]='post.date'
            [content]='post.content'>
        </app-post>
    </div>
    <div class="row">
        <app-pagination class="mx-auto"
            [currentPage]='page'
            [totalPages]='totalPages'
            [firstPageIndex]=0
            [linksEachSide]=2
            (previous)='previousPage()'
            (next)='nextPage()'
            (pageClicked)='goToPage($event)'>
        </app-pagination>
    </div>
</div>