<div class="container-fluid border-right text-center py-4">
<ul class="nav flex-column nav-pills">
    <li class="nav-item my-2">
        <a class="nav-link" [routerLink]="['config']" routerLinkActive="active">Profil</a>
    </li>
    <li class="nav-item my-2">
        <a class="nav-link" [routerLink]="['posts']" routerLinkActive="active">Wpisy</a>
    </li>
    <li class="nav-item my-2">
        <a class="nav-link" [routerLink]="['profiles']" routerLinkActive="active">Lista profili</a>
    </li>
</ul>
</div>